<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="panel">
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Donec in pharetra orci. Curabitur pretium nisl fermentum arcu aliquet hendrerit. 
      Aenean tempor eu erat sed interdum. Nullam id dolor congue sem convallis auctor. 
      Pellentesque mattis orci tincidunt facilisis condimentum. Vivamus lorem enim, 
      .rhoncus a risus quis, ullamcorper convallis orci. Phasellus pretium suscipit nulla, 
      ac bibendum urna viverra nec. Ut molestie blandit nunc at tincidunt. 
      Vestibulum erat massa, bibendum quis pretium quis, blandit sed dolor. 
      Donec vehicula in nulla sit amet laoreet. Maecenas tincidunt tellus sit amet urna ornare, 
      ut convallis felis pharetra. In odio massa, iaculis ut imperdiet ac, vulputate sed libero. 
      Nam cursus sem et dolor scelerisque scelerisque. Sed placerat massa ac venenatis blandit. 
  </p>
</div>
<a class="btn btn-info" href="/admin/products/new">+ New Product</a>